{% extends 'users/main.html' %}
{% block content %}
<div class="d-flex justify-content-center">
	<h3 id="form-title">LOGIN</h3>
</div>
{% if messages %}
    {% for message in messages %}
      <p class="alert alert-{{message.tags}}">{{ message }}</p>
    {% endfor %}
{% endif %}
<div class="d-flex justify-content-center form_container">
	<form method="POST" action="">
		{% csrf_token %}
		<div class="input-group mb-3">
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-user"></i></span>
			</div>
			<!-- <input type="text" name="username" placeholder="Username..." class="form-control"> -->
			{{ form.username }}
		</div>
		<div class="input-group mb-2">
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-key"></i></span>
			</div>
			<!-- <input type="password" name="password" placeholder="Password..." class="form-control" > -->
			{{ form.password }}
		</div>

		<div class="d-flex justify-content-center mt-3 login_container">
			<input class="btn login_btn" type="submit" value="Login">
		</div>
	</form>

</div>
{% for error in form.non_field_errors %}
<p id='messages'>{{ error }}</p>
{% endfor %}
<div class="mt-4">
	<div class="d-flex justify-content-center links">
		Don't have an account? <a href="{% url 'register-screen' %}" class="ml-2">Sign Up</a>
	</div>
</div>
{% endblock %}