{% extends 'users/main.html' %}
{% block content %}
<div class="d-flex justify-content-center">
	<h3 id="form-title">REGISTER ACCOUNT</h3>
</div>
<div class="d-flex justify-content-center form_container">

	<form method="POST" action="">
		{% csrf_token %}
		<div class="input-group mb-2">
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-user"></i></span>
			</div>
			{{ form.first_name }}
		</div>
		<div class="input-group mb-2">
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-user"></i></span>
			</div>
			{{ form.last_name }}
		</div>
		<div class="input-group mb-2">
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-envelope"></i></span>
			</div>
			{{ form.email }}
		</div>
		<div class="input-group mb-2">
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-user"></i></span>
			</div>
			{{ form.username }}
		</div>
		<div class="input-group mb-2">
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-key"></i></span>
			</div>
			{{ form.password1 }}
		</div>
		<div class="input-group mb-2">
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-key"></i></span>
			</div>
			{{ form.password2 }}
		</div>

		<div class="d-flex justify-content-center mt-3 login_container">
			<input class="btn login_btn" type="submit" value="Register Account">
		</div>
	</form>
</div>
{% for error, messages in form.errors.items %}
{% for message in messages %}
<p id='messages'>{{ message }}</p>
{% endfor %}
{% endfor %}
<div class="mt-4">
	<div class="d-flex justify-content-center links">
		Already have an account? <a href="{% url 'login-screen' %}" class="ml-2">Login</a>
	</div>
</div>
{% endblock %}